header {
    justify-content: center;
    position: relative;
    h1 {
        margin-bottom: 1em;
    }
    h4 {
        margin-bottom: 6em;
    }

    h5 {
        font-size: 17px;
        margin-bottom: 1em;
    }
    .burger {
        display: none;
    }

    
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.blob {
    width: 300px;
    height: 300px;
    // border: 2px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    top: 10px;
    left: 10px;
    border-top-left-radius: 70% 10%;
    border-top-right-radius: 50% 40%;
    border-bottom-right-radius: 60% 20%;
    border-bottom-left-radius: 30% 60%;
    background-color: #f3e4db;
    background-image: linear-gradient(132deg, #e29e73 0%, #d10543 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transform: scale(0) rotate(165deg);
    animation: rotateIn 1s forwards, floatBlob 6s infinite alternate linear;

    img {
        height: 100%;
        margin: auto;
        filter: grayscale(0.2);
    }
}

@keyframes floatBlob {
    0% {
        border-top-left-radius: 70% 10%;
        border-top-right-radius: 50% 40%;
        border-bottom-right-radius: 60% 20%;
        border-bottom-left-radius: 30% 60%;
    } 

    50% {
        border-top-left-radius: 60% 25%;
        border-top-right-radius: 40% 30%;
        border-bottom-right-radius: 70% 10%;
        border-bottom-left-radius: 20% 70%;
    }
    
    100% {
        border-top-left-radius: 50% 40%;
        border-top-right-radius: 70% 10%;
        border-bottom-right-radius: 30% 60%;
        border-bottom-left-radius: 60% 20%;
    }
}

.intro, .name, .role-intro, .role {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 1.4px;
    text-align: center;
    position: relative;
    width: 0;
    animation-name: typing;
    animation-fill-mode: forwards;
}

.intro {
    animation-timing-function: steps(30, end);
    animation-duration: 0.6s;
}

.name {
    animation-timing-function: steps(30, end);
    animation-delay: 0.8s;
    animation-duration: 1s;
    
}
.role-intro {
    animation-timing-function: steps(30, end);
    animation-delay: 2s;
    animation-duration: 1s;

}
.role {
    animation-timing-function: steps(30, end);
    animation-delay: 2.8s;
    animation-duration: 1s;

}


@keyframes typing {
    to { width: 100%; }
}


@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;

    }
}

@keyframes rotateIn {
    to {
        transform: scale(1) rotate(0);
    }
}


@media (max-width: 1500px) {
    header .burger {
        display: block;
        position: fixed;
        top: 30px;
        right: 40px;
        cursor: pointer;
        transition: 0.1s;
        &:hover {
            filter: invert(0.3);
        }
        img {
            width: 22px;
        }
    }
}